#CertificateInput{
    .certinput-left{
        width: 110px;
        .certinput-star{
            color: #D00000;
            font-size: 14px;
            font-weight: bold;
            width: 14px;
            position: relative;
            top: 2px;
        }
        .certinput-label{
            width: 84px;
        }
    }
    .certinput-right{
        
        .ant-form-item{
            margin: 0;
            input{
                color: #363636;
                width: 300px;
                height: 42px;
                padding: 0 16px;
                background: #FFFFFF;
                border: 1px solid rgba(220,220,220,1);
                border-radius: 2px;
                
            }
            input::-webkit-input-placeholder { 
            /* WebKit browsers */ 
                font-size: 14px;
                color: #CCCCCC;
                letter-spacing: 0;
                font-weight: 400; 
            } 
            input:focus{
                outline:none;
            }
            .ant-input:focus {
                box-shadow: none;
            }
            
        }
        // 行业分类的样式
        .ant-select-selector{
            width: 300px;
            height: 42px;
        }
        // 行业分类的样式
        .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
            padding: 0 16px;
        }
        // 行业分类的样式
        .ant-select-selection-placeholder,.ant-select-selection-item{
            display: flex;
            align-items: center;
        }   
    }
    //表单form.item的默认样式修改
    .ant-form-item{
        margin-bottom:0
    }
    // input出错时提醒文字隐藏
    .ant-form-item-explain, .ant-form-item-explain-connected{
        display: none;
    }
    //input表单出错时的border框样式
    .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input{
        background-color: #fff;
        border-color: #ff4d4f;
    }
    .certinput-message{
        .warnimg{
            width: 12px;
            margin:0 8px 0 16px;
        }
        .certinput-message-txt{
            font-size: 12px;
            color: #D00000;
        }
    }
}