#CertificateInput{
    .certinput-left{
        width: 110px;
        .certinput-star{
            color: #D00000;
            font-size: 14px;
            font-weight: bold;
            width: 14px;
            position: relative;
            top: 2px;
        }
        .certinput-label{
            width: 84px;
        }
    }
    .certinput-right{
        
        .ant-form-item{
            margin: 0;
            input{
                color: #363636;
                width: 300px;
                height: 42px;
                padding: 0 16px;
                background: #FFFFFF;
                border: 1px solid rgba(220,220,220,1);
                border-radius: 2px;
                
            }
            input::-webkit-input-placeholder { 
            /* WebKit browsers */ 
                font-size: 14px;
                color: #CCCCCC;
                letter-spacing: 0;
                font-weight: 400; 
            } 
            input:focus{
                outline:none;
            }
            .ant-input:focus {
                border: none;
                border-bottom: 1px solid white !important;
                box-shadow: none;
            }
        }
    }
    .ant-form-item{
        margin-bottom:0
    }
    .certinput-message{
        .warnimg{
            width: 12px;
            margin:0 8px 0 16px;
        }
        .certinput-message-txt{
            font-size: 12px;
            color: #D00000;
        }
    }
}