.before{
    width: 90px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #304F97;
    color: #304F97;
    font-weight: 600;
}
.after{
    width: 90px;
    height: 36px;
    background: #F4F4F4;
    color: #999999;
    font-weight: 600;
}