.myscore{
    width: 100%;
    background: #FFFFFF;
    height: 108px;
    padding: 25px 20px;
    .todayscorepre{
        font-size: 16px;
        margin-right: 94px;
        .todayscore{
            color: #304F97;
        }
        .scoremoney{
            color: #999999;
            font-size: 12px;
            margin-left: 8px;
        }
    }
}
.padding{
    padding: 20px 30px;
    height: 76px;
}