.share-item-pre:hover .share-item-module{display: block;}
.share-item{
    height: 36px;
}
.shareimg{
    width: 20px;
}
.active-color{
    color: #304F97;
}
.share-justify{
    .shareimg{
        width: 14px;
        margin-right: 4px;
    }
}
.share-item-module{
    padding: 19px 19px 3px;
    background: #ffffff;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 2px 10px 0px rgba(221,221,221,0.5);
    position: absolute;
    left: 56px;
    top: 0;
    white-space: nowrap;
    display: none;
    z-index: 9;
    >div{
        margin-bottom: 16px;
        >div{
            height: 16px;
            line-height: 16px;
        }
    }
    .wechartimg{
        width: 16px;
        margin-right: 8px;
        
    }
    .angle{
        width: 10px;
        height: 10px;
        background: #ffffff;
        transform: rotate(45deg);
        border-left: 1px solid #F4F4F4;
        border-bottom: 1px solid #F4F4F4;
        position: absolute;
        left: -5px;
        top: 20px;
    }
    .share-item-module-opacity{
        width: 25px;
        height:80px;
        position: absolute;
        top: 0;
        left: -22px;
        box-shadow: none;
    }
}
.share-item-module-justify{
    top: 34px;
    left: -32px;
    .angle{
        border-left: 1px solid #F4F4F4;
        border-top: 1px solid #F4F4F4;
        border-bottom: none;
        left: 50%;
        top: -5px;
        transform: translateX(-50%) rotate(45deg);
    }
    .share-item-module-opacity{
        width: 75px;
        height:20px;
        position: absolute;
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
    }
}