.comment-component{
    .look-all{
        width: 736px;
        height: 38px;
        background: #EEEEEE;
        >div>span{margin: 0 3px;}
        .toimg{
            width: 14px;
            margin-left: 4px;
        }
    }
     
}
.comment-component-comment{
    margin-top: 40px;
    .comment-list{
        margin: 0 0 24px 0;
    }

}
.look-more{
    width: 100%;
    height: 38px;
    background: #EEEEEE;
    .toimg{
        width: 14px;
        margin-left: 4px;
        transform: rotate(90deg);
    }
}
.look-more-no{
    text-align: center;
}
.chaimg{
    width: 16px;
    position: absolute;
    top: 0;
    right: 0;
} 