#logincomponent{
    background: #FFFFFF;
    padding: 0 30px;
    .marg{
        margin: 20px 0;
        
    }
    .loginswitch{
        >div{
            width: 190px;
            height: 80px;
            color: #304F97;
            
            font-size: 18px;
            font-weight: 600;
            border-bottom: 3px solid rgba(0,0,0,0);
            cursor: pointer;
        }
        .activeborder{
            border-bottom: 3px solid #304F97;
        }
    }
    .loginbt{
        width: 380px;
        height: 52px;
        background: #304F97;
        
        font-size: 16px;
        color: #FFFFFF;
        text-align: center;
        line-height: 16px;
        font-weight: 600;
    }
    .wechartimg{
        width: 42px;
        margin: 28px 20px;
        cursor: pointer;
    }
    .warn{
        height: 24px;
        position: relative;
        top: -10px;
        >div{
            width:12px;
            margin-right: 8px;
        }
        >span{
            
            font-size: 10px;
            color: #D00000;
        }
    }
    .forget{
        margin-top: 16px;
        span{
            
            font-size: 12px;
            color: #363636;
            cursor: pointer;
        }
    }
}