.news-list-item{
    padding: 24px 0;
    border-bottom: 1px solid #F4F4F4;
    .coverimg{
        width: 220px;
        height: 140px;
        overflow: hidden;
    }
    .news-list-item-right{
        width: 606px;
        height: 140px;
        overflow: hidden;
        .news-list-item-bottom{
          width: 100%;
          
          .share{
            margin: 0 16px;
          }
          .star{
            margin: 0 16px 0 0;
          }
          .readimg{
            width: 14px;
            margin-right: 4px;
          }
        }
    }
    .news-list-item-right-big{
      width: 900px;
    }
    .title{
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        text-align: justify;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .item-content{
        text-align: justify;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-top: 4px;
        font-size: 14px !important;
        a{
          color: #363636;
          font-size: 14px !important;
        }
        span{
          font-size: 14px !important;
        }
        p{
          font-size: 14px !important;
        }
        img{
          display: none;
        }
        .kline{display: none;}
      }
    .interest-button{
        width: 70px;
        height: 28px;
        background: #FFFFFF;
        border: 1px solid #304F97;
        margin-left: 20px;
        >span{
            font-size: 12px;
            color: #304F97;
        }
        .followimg{
          width: 8px;
          margin-right: 4px;
        }
        
    }
    .interest-button-gray{
      width: 70px;
      height: 28px;
      background: #FFFFFF;
      border: 1px solid #DCDCDC;
      margin-left: 20px;
      .followimg{
        width: 14px;
        margin-right: 4px;
      }
      >span{
        font-size: 12px;
        color: #999999;
      }
    }
}