#myCollect{
    background: #ffffff;
    padding: 20px 30px 30px;
    .top-title{
        .top-title-item{
            font-size: 16px;
            color: #363636;
            padding:8px 0;
            border-bottom: 2px solid rgba(0,0,0,0);
            border-top: 2px solid rgba(0,0,0,0);
            margin-right: 28px;
        }
        .top-title-a{
            color: #304F97;
            font-weight: 600;
            border-bottom: 2px solid #304F97;
        }
    }
}