.collect-item{
    height: 36px;
    .collectimg{
        width: 20px;
    }
    .collect-color{
        color: #FF8800;
    }
}
.star-item{
    .collectimg{
        width: 14px;
        margin-right: 4px;
    }
    .star-color{
        color: #FF8800;
    }
}