#news{
    overflow-y: auto;
    padding: 100px 0 20px;
    .news-header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;   
        z-index: 10; 
    }
    .news-down{
        width: 100%;
        height: 54px;
        position: fixed;
        top: 40px;
        left: 0;  
        z-index: 6;
        .news-down-top{
            height: 10px;
            background: #F4F4F4;
        }
    }
    .news-main{
        width: 886px;
        background: #FFFFFF;
        padding: 0 20px;
        
        .may-interest{
            border-bottom: 1px solid #F4F4F4; 
            padding: 26px 0 28px;
            .interest-arrow{
                width: 20px;
                height: 40px;
                background: #FFFFFF;
                border: 1px solid rgb(238,238,238);
                cursor: pointer;
                .arrowimg-left{
                    transform: rotate(180deg);
                    width: 14px;
                }
                .arrowimg-right{
                    width: 14px;
                }
            }
            
            .may-interest-title{
                margin-bottom: 20px;
                .may-interest-title-txt{
                    font-size: 18px;
                    font-weight: 600;
                }
                .exchangeimg{
                    width: 14px;
                    margin-right: 6px;
                }
                .exchange-rotate{
                    animation: rotation-back 1s linear infinite;
                }
            }
            .may-interest-list{
                .may-interest-item{
                    padding: 8px 20px;
                    height: 138px;
                    cursor: pointer;
                    .writeimg{
                        width: 56px;
                        height: 56px;
                        border: 0.95px solid #EEEEEE;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    
                }
            }
            .may-interest-list-ed{
                width: 774px;
                .may-interest-item{
                    padding: 6px 17px;
                    height: 98px;
                    margin: 0 12px;
                    cursor: pointer;
                    .writeimg{
                        width: 56px;
                        height: 56px;
                        border: 0.95px solid #EEEEEE;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    
                }
            }
        }
        .news-loading{
            height: 60px;
            .loadingimg{
                width: 12px;
                margin-right: 8px;
                animation: rotation 1s linear infinite;
            }
        }
    }
    .userinfo{
        width: 304px;
        height: 317px;
        background: #FFFFFF;
        padding:16px 20px 20px;
        position: absolute;
        top: 0;
        right: 0;
        .writeimg{
            width: 38px;
            height: 38px;
            margin: 20px 0 6px;
            
        }
        .hr{
            width: 264px;
            height: 1px;
            background: #F4F4F4;
            margin: 20px 0;
        }
        .today-read{
            font-size: 20px;
            color: #D00000;
            font-weight: 700;
            margin: 1px 0 0px;
        }
        .yeterday-profit{
            font-size: 12.5px;
            transform: scale(0.75);
            span{
                color: #D00000;
            }
        }
        .button{
            width: 264px;
            height: 38px;
            background: #304F97;
            color: #FFFFFF;
            font-weight: 600;
            margin-top: 25px;
        }
    }
    @keyframes rotation {
        from {
            transform: rotate(360deg);
        }
        to {
            transform: rotate(0deg);
        }
    } 
    @keyframes rotation-back {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}