.article-list{
    background: #FFFFFF;
    width: 930px;
    padding: 23px 30px 30px;
    position: relative;
    .content-txt{
        font-size: 18px;
        font-weight: 600;
    }
    .list-item{
        padding: 25px 0;
        border-bottom: 1px solid #f4f4f4;
    }
    .paginations{
        position: relative;
        background: #F4F4F4;
        width: 930px;
        left: -30px;
        top: 30px;
        padding: 10px 0;
    }
}