.articleDetail{
    width: 100%;
    background: #FFFFFF;
    .title{
        font-size: 28px;
        text-align: justify;
        line-height: 40px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    .detail-info{
        margin-bottom: 21px;
        .detail-from{
            margin-left: 24px;
        }
        div{
            color: #999999;
        }
    }
    p{
        font-size: 16px; 
    }
    .news-content{
        font-size: 16px; 
        margin-top: 25px;
    }
}