.myTask{
   .myTask-son{
      width: 576px;
   }
   .signin{
      background: #FFFFFF;
      padding: 20px 20px 30px;
      margin-top: 10px;
      .title{
        >span{
          font-size: 16px;
          font-weight: 600;
        }
        .signin-button{
          width: 90px;
          height: 36px;
          background: #304F97;
          color: #FFFFFF;
          font-weight: 600;
          
        }
        .signined-button{
          font-size: 12px;
          color: #999999;
        }
      }
      .myTask-gift{
        .giftimg{
          width: 28px;
        }
        .dianimg{
          width: 14px;
          margin:0 6px;
          position: relative;
          top:9px;
        }
      }
      .score{
        width: 81px;
        height: 74px;
        background: #F4F4F4;
        border-radius: 2px;
        text-align: center;
        padding: 8px 0;
        .signimg{
          width: 26px;
          margin: 0 auto 12px;
  
        }
      }
      .scored{
        background: #FFEEE3;
      }
      .sign-arr{
        margin-top: 20px;
        .sign-item{
          width: 68px;
          height: 98px;
          padding: 10px 0;
          background: #F4F4F4;
          border-radius: 2px;
          position: relative;
          .giftimg{
            width: 34px;
          }
          .signimg{
            width: 26px;
          }
          .sign-surprise{
            width: 44px;
            height: 15px;
            background: #E71E00;
            position: absolute;
            bottom: -19px;
            left: 50%;
            transform: translateX(-50%);
            span{
              color: #FFFFFF;
              white-space: nowrap;
              font-size: 12px;
              transform: scale(0.75);
            }
            div{
              width: 6px;
              height: 6px;
              background:#E71E00;
              position: absolute;
              top: -2px;
              left: 50%;
              transform: translateX(-50%) rotate(45deg);
            }
          }
        }
        .sign-in-item{
          background: #FFF5EE;
        }
      }
      .signined-button{
        width: 170px;
        height: 36px;
        background: #F4F4F4;
        color: #999999;
        font-size: 12px;
        margin: 37px auto 0;
      }
      .signin-button{
        width: 170px;
        height: 36px;
        background: #304F97;
        color: #FFFFFF;
        font-weight: 600;
        margin: 37px auto 0;
      }
    }
    .task{
      background: #FFFFFF;
      padding: 30px 20px;
      margin-top: 10px;
      .task-title{
        font-size: 16px;
        font-weight: 600;
      }
      .emailimg{
        width: 40px;
        margin-right: 16px;
      }
      .task-item{
        margin-top: 24px;
      }
    }
   .popup{
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,0.3);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
      .congratulation{
        width: 400px;
        height: 400px;
        padding-top: 222px;
        text-align: center;
        background: url(../../public/images/user/money.png) no-repeat;
        background-size: 400px; 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover;
        position: absolute;
        top: calc(50% + 40px) ;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        .chaimg{
          width: 24px;
          position: absolute;
          top:-16px;
          right: -40px;
        }
        .signin-success{
          font-size: 24px;
          color: #FFF0C8;
          font-weight: 600;
          margin-bottom: 8px;
        }
        .signin-score{
          color: #FFF0C8;
        }
      }
    }
    .ggao{
      width: 344px;
    }
}
