#user{
    background: #F4F4F4;
    .flextop{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;
    }
    .usertop{
        width: 100%;
        height: 40px;
        background:#363636;
        .user-name{
          width: 70px;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        >div{
            width: 1200px;
            height: 100%;
            margin: 0 auto;
            .homeimg{
              width: 14px;
              margin-right: 6px;
              position: relative;
              top: -1px;
            }
            .headerimg{
              width: 24px;
              margin-right: 6px;
              position: relative;
              top: -1px;
              border-radius: 50%;
              overflow: hidden;
            }
            .exitimg{
              width: 14px;
              margin-right: 8px;
            }
            .exit{
              position: absolute;
              right: 0;
              bottom: -44px;
              width: 83px;
              height: 36px;
              border: 1px solid #DCDCDC;
              background: #FFFFFF;

              .color{
                color: #FFFFFF;
              }
            }
            .exit:hover{
              background: #304F97;
              border: none;
            }
            .exitnone{
              display: none;
            }
        }
        
    }
    .userNav{
        width: 100%;
        height: 70px;
        background: #FFFFFF;
        >div{
            height: 100%;
            width: 1200px;
            margin: 0 auto;
            .logoimg{
                width: 164px;
            }
            .line{
                width: 1px;
                height: 30px;
                background: #C2C2C2;
                margin-left: 36px;
            }
            .navitems{
                >div{
                  width: 100px;
                  height: 70px;                  
                  font-size: 16px;
                  color: #363636;
                }
                .navactive{
                  background: #FF8800;
                  color: #FFFFFF;
                }
            }
        }

    }
    .content{
      padding: 120px 0 20px;
      // margin-top: 10px;
      .userinfo{
        background: #FFFFFF;
        padding: 40px 0;
        height:216px;
        width: 260px;
        .headerimgpre{
          width: 80px;
          margin: 0 auto;
         
          .headerimg{
            width: 80px;
            border-radius: 50%;
            overflow: hidden;
          }
          .userlevel{
            width: 24px;
            height: 12px;
            background: #FFA500;
            border: 1px solid #FFFFFF;
            position: absolute;
            right: 0;
            bottom: 0;
            span{
              display: inline-block;
              font-size: 16px;
              color: #FFFFFF;
              transform: scale(0.5);
              position: relative;
              top: 1px;
              left: 1px;
            }
          }
        }
        .userphone{
          font-size: 16px;
          text-align: center;
          margin: 20px auto 8px;
        }
        .realnamedimg{
          width: 16px;
          margin-right: 8px;
        }
        .phoneimg{width: 8px;}
      }
      .aside{
        margin-top: 10px;
        >div{
          width: 260px;
          height: 52px;
          background: #FFFFFF;
          padding: 0 30px;
          line-height: 52px;
          box-sizing: border-box;
        }
        .aside-active{
          font-weight: 600;
          position: relative;
        }
        .aside-active::before{
          content: '';
          display: inline-block;
          width: 3px;
          height: 20px;
          background: #304F97;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      .usermain{
        width: 930px;
        .usermain-ArticleDetail{
          width: 100%;
          padding: 30px;
          background: #FFFFFF;
        }
      }
      
      
    }
  
}