@import '~antd/dist/antd.css';
html{
  
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
iframe{
  display: none ;
}
#root{background: #F4F4F4;height: 101%;}
//取消双击选中文字，字体为微软雅黑
div,span{
  -moz-user-select:none;/*火狐*/
  -webkit-user-select:none;/*webkit浏览器*/
  -ms-user-select:none;/*IE10*/
  -khtml-user-select:none;/*早期浏览器*/
  user-select:none;
  font-family: Microsoft YaHei;
  color: #363636;
  font-size: 14px;
  box-sizing: border-box;
}
.position{
  position: relative;
}
.cursor{
  cursor: pointer;
}
.width{
  width: 1200px;
  margin: 0 auto;
}
.bold{
  font-weight: 600;
}
.font12{
  font-size: 12px;
}
.font16{
  font-size: 16px;
}
.top10{
  margin-top: 10px;
}
.fleximg{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
      width: 100%;
  }
}
.fleximgtop{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  img{
      width: 100%;
  }
}
.flexl{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexr{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flexb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexa{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexbl{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.flexll{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.flexcbl{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.fleximgc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flexcc{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.back{
  background: rgba($color: #000000, $alpha: 0.3);
  // height: 100vh;
}
.back-color{
  background: #F4F4F4;
}
.color1{
  color: #363636;
}
.color2{
  color: #666666;
}
.color3{
  color: #999999;
}
.colorw{color: #FFFFFF;}
.pagination{
  .ant-pagination-item-active{
      border-color: #ff8800;
      background:#ff8800;
      a{
          color: #ffffff;
      }
  }
  
  .ant-pagination-item a:hover{
      color: #ff8800;
  }
  .ant-pagination-item-active a:hover{
      color: #ffffff;
  }
  .ant-pagination-prev:hover .anticon-left{
      color: #ff8800;
  }
  .ant-pagination-next:hover .anticon-right{
      color: #ff8800;
  }
  .anticon-right:hover{
      color: #ff8800;
  }
  .anticon-left:hover{
      color: #ff8800;
  }
}
.tableHeader{
  width: 870px;
  height: 50px;
  background: #304F97;
  >div{
      color: #FFFFFF;
      width: 290px;
      padding: 0 10px;
      text-align: center;
  }
}
.pointer{cursor: pointer;}
.row-active{
  background:#F4F4F4 !important;
}
.paginations{
  margin-top: 30px;
}
.tox-tinymce-aux {
  z-index: 709826033 !important;
}
.tox-tinymce-aux {
  z-index: 709826033 !important;
}
.tox-tinymce-inline {
  z-index: 709826032 !important;
}
// 资质问题样式
.cert-modal{
  .ant-modal{
    width: 0 !important;
    height: 0;
    background: #FFFFFF;
    left: -49px;
    top: 390px;
    opacity: 0;
    .ant-modal-header,.ant-modal-footer,.ant-modal-close{
      opacity: 0;
    }
  }
}
.ant-picker-footer{
  display: none
}
.wxlogin-modal{
  .ant-modal{
    width: 400px;
    top:25%;
    .ant-modal-content{ 
      width: 400px;
      overflow: hidden;
      .ant-modal-body{
        padding:24px;
      }
      .ant-modal-header,.ant-modal-footer{
        display: none;
      }
    }
  }
  
}
.ant-modal-mask{
  background:none
}
.ant-scrolling-effect{
  overflow-y: scroll !important;
  width: 100% !important;
}
#wxLogin{
  iframe{
    display: block;
  }
}

