#login{
    width: 100%;
    height: 101vh;    
    background-image: linear-gradient(180deg, #4872D4 0%, #304F97 100%);
    padding-top:100px ;
    position: relative;
    overflow: auto;
    .contain{
        width: 1200px;
        margin: 0 auto;
        .logo{
            width: 250px;
            height: 51px;
        }
        .main{
            padding: 49px 60px;
            .leftimg{
                width: 520px;
                height: 620px;
                margin-right: 180px;
            }
        }
        
    }
    .topimg{
        width: 348px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .downimg{
        width: 298px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
}
::-webkit-scrollbar{display: none;}