.popuplogin-item{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    position:fixed ;
    top: 0;
    left: 0;
    z-index: 2;
    .popuplogin{
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        width: 690px;
        .mainimg{
            width: 290px;
        }
        .marg{
            margin: 16px 0;
        }
        .loginmain{
            padding: 0 40px;
            background: #FFFFFF;
            width: 400px;
            .loginswitch{
                margin-bottom: 20px;
                >div{
                    width: 160px;
                    height: 80px;
                    color: #304F97;
                    
                    font-size: 18px;
                    font-weight: 600;
                    border-bottom: 3px solid rgba(0,0,0,0);
                    cursor: pointer;
                }
                .activeborder{
                    border-bottom: 3px solid #304F97;
                }
            }
    
            .loginbt{
                width: 320px;
                height: 46px;
                background: #304F97;  
                text-align: center;
                line-height: 16px;
                font-weight: 600;
                span{
                    font-size: 16px;
                    color: #FFFFFF;
                }
            }
            .wechartimg{
                width: 42px;
                margin: 28px 20px;
                cursor: pointer;
            }
            .wechartimguser{
                width: 42px;
                margin: 11px 20px 20px;
                cursor: pointer;
            }
            .warn{
                height: 24px;
                position: relative;
                top: -10px;
                >div{
                    width:12px;
                    margin-right: 8px;
                }
                >span{
                    
                    font-size: 10px;
                    color: #D00000;
                }
            }
            .forget{
                margin-top: 11px;
                span{
                    
                    font-size: 12px;
                    color: #363636;
                    cursor: pointer;
                }
            }
            
        }
        .chaimg{
            width: 12px;
            position: absolute;
            top: 18px;
            right: 18px;
        }
        
    }
}
